{% extends "schedule/layout.html" %}

{% block body %}
<div class="container my-4">
    <h2>Edit Task</h2>
        <form method="post" action="{% url 'task/edit' task.id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="type">Type</label>
                <select name="type" id="type" class="form-control" required>
                    <option value="Reminder" {% if task.type == "Reminder" %}selected{% endif %}>Reminder</option>
                    <option value="Assignment" {% if task.type == "Assignment" %}selected{% endif %}>Assignment</option>
                    <option value="Exam" {% if task.type == "Exam" %}selected{% endif %}>Exam</option>
                </select>
            </div>
            <div class="form-group">
                <label for="routine">Routine related</label>
                <select name="routine" id="routine" class="form-control" required>
                    <option value="0" {% if not task.routine %}selected{% endif %}>None</option>
                    {% for routine in routines %}
                    <option value="{{ routine.id }}" {% if task.routine and task.routine.id == routine.id %}selected{% endif %}>{{ routine.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" class="form-control" value="{{ task.title }}" required>
            </div>
            <div class="form-group w-50">
                <label for="description">Description</label>
                <textarea name="description" id="description" class="form-control">{{ task.description }}</textarea>
            </div>

            <div class="form-group">
                <label for="due_date">Due Date</label>
                <input type="datetime-local" name="due_date" id="due_date" class="form-control" value="{{ task.due_date|date:'Y-m-d\TH:i' }}" required>
            </div>

            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="{% url 'task' %}" class="btn btn-secondary">Cancel</a>
            
        </form>
</div>

{% endblock %}
